<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iGallery.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tvGallery.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83436DEC1BDF947900B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E001BDF947900B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E0B1BDF947900B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E141BDF947900B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E461BDF94BD00B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E561BDF94BD00B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E611BDF94BD00B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E791BDFC9DC00B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436E8D1BDFCA1D00B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83436EB31BDFCABD00B89409</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
